body{
    line-height: 1.6;
}
a{
    text-decoration: none;
}
#wrap{
    margin:0 auto;
    width: 100%;
    max-width: 1200px;
}
main{
    border:1px solid blue;
    padding-top: 80px; 
    padding-left: 20px;
    padding-right: 20px;
} 
.sec-tit{
    background-color: #999;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
}
/* Header css */
header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 60px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.logo a{
    color:#fff;
    font-size: 1.2rem;
    line-height: 60px;
    margin-left: 1rem;
}
nav{
    display: none;
    background-color: #333;
    opacity: 0.9;
}
nav.is-open{
    display: block;
}
/* 메뉴 기본 숨김 */
nav{
    /* display: none; */
    background:#333;
    opacity: 0.9;
}
/* 햄부기 버튼 */

/* 방법 1

.menu-toggle-btn{
    right: 0;
    color:#fff;
    font-size: 25px;
    background:transparent;
    border:none
} */

/* 방법 2 */
.menu-toggle-btn{
    width: 2rem;
    position:absolute;
    top: 1.3rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    border: navajowhite;
}
.menu-toggle-btn span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}
.slider{
    margin-top: 60px;
    
}

.slider img{
    width: 100%;
    height: auto;
}

.container{
    /* border:1px solid green; */
    width: 100%;
}
.sec-tit{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom:1rem;
}
.desc{
    text-align: center;
    font-size: 1rem;
}


/* contact */
textarea{
    width: 100%;
    height: 120px;
    font-size: 1rem;
    padding: 1rem;
}
/* footer */
footer{
    font-size: 0.7rem;
    color: #888;
}

/* 태블릿 최소 768px */
@media (min-width: 768px){
    .promo-list{
        display: flex;
        flex-wrap: wrap;
        /* 자식 요소가 부모컨테이너의
        너비를 초과할 때 자동으로 다음줄로 넘어가게 설정 */
        /* no-wrap 한줄에 강제로 배치 */
        gap: 1.5rem;
    }
    .promo-list li{
        width: 48%;
    }

    /* work blog 2열로 */
    .work-list {
        display: flex;
        flex-wrap: wrap;
        gap:3rem;
  }
   .work-list li {
        width: calc(50% - 1.5rem);
  }
  nav{
    display: none;
  }
  nav ul{
    display: none;
  }
  
  
}

/* PC 1024 이상일때 */
/* 헤더메뉴 사라지고 nav 바 생김 */

@media (min-width:1024px) {
    .menu-toggle-btn{
        display: none;
    }
    nav{
        display: block;
        background:none;
    }
    nav ul{
        display: flex;
        position: absolute;
        top: 1rem;
        right:1rem;
    }
    nav li{
        margin-left: 1.5rem;
    }
    nav a{
        color:#fff;
        font-size: 0.95rem;
    }
    /* promotion 4열 */
    .promo-list{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        gap: 1rem;
    }
    .promo-list li{
        width: calc((100% - 3rem) / 4);
    }
    /* work 4열 */
    .work-list{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        gap: 1rem;
    }
    .work-list li{
        width: calc((100% - 3rem) / 4);
    }
    /* blog은 3열 */
    .blog-list{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .blog-list li{
        width: calc((100% - 2rem) / 3);
    }

    /* 제목 크기 키움 */
    .sec-tit{
        font-size: 2.6rem;
    }
}